# venv folder
venv/

# Large testing files
# DEV: we probably want to actually keep test files!
#TESTDATA/

# IDE and cache folders
.vscode/
__pycache__/
.pytest_cache/

# pyinstaller folders
build/
dist/